extends base.pug

block styles 
    style 
        include ../static/styleHome.css
        include ../static/styleAbout.css
block scripts 
    script(src='/static/script.js')
block contents
    h1#head  Boost Your Business with ANU-Devs
    div#aboutOwner
        div#illustration
            img(src="/static/me.jpg", alt="!!")
            table 
                th Lorem, ipsum.
                tr 
                    td Name:
                    td Allen
                tr 
                    td Age:
                    td 19
                tr 
                    td Languages:
                    td HTML, CSS, JavaScript, Python
                tr 
                    td Place Of Birth:
                    td Uttrakhand 
                th Lorem, ipsum dolor.
                tr 
                    td Lorem:
                    td Lorem, ipsum dolor. 
                tr 
                    td Lorsit.:
                    td Lorem ipsu.
                tr 
                    td Lorsit.:
                    td Lorem ipsu.
                tr 
                    td Lorsit.:
                    td Lorem ipsu.
                th Lorem ipsum dolor sit amet.
                tr 
                    td icing:
                    td m, ipsum dolor.
                tr 
                    td dipisicing:
                    td Lorem, ium dolor.
                tr 
                    td cing:
                    td Lorem, ilor.
                tr 
                    td isicing:
                    td Lorem, ipsum dolor.
        div#AboutMe #[span About Me]
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, eum soluta autem dignissimos quisquam tempora labore, dolore, ea delectus quas incidunt modi a natus ad ducimus. Deleniti veritatis deserunt, omnis pariatur nihil accusamus. Minus nisi alias, dignissimos sed quo fugit consequuntur ex asperiores vel neque voluptate ducimus saepe deleniti placeat veniam! Ab ipsa enim debitis! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus minima quae distinctio voluptatibus asperiores earum nam consequuntur repellat minus labore.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat distinctio maiores neque at eaque dolore necessitatibus aperiam error, consequuntur perferendis. Ducimus optio inventore suscipit excepturi fuga ex voluptatibus vitae sunt veritatis alias expedita ad et, corporis voluptatem atque ut.
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto a itaque eligendi et. Ducimus quos esse nisi sapiente magni consequuntur, repudiandae minima cumque veritatis explicabo obcaecati assumenda, incidunt alias tenetur beatae. Quod sint et tempore sapiente commodi dolor ex!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, amet. Atque ducimus sit eligendi, sunt non aut harum aperiam alias! Velit, odit minima. Similique maiores neque deserunt dolorum omnis labore, ad repellendus, esse quasi ipsa repudiandae tenetur modi sunt quas reiciendis quis quam dolorem.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda numquam sequi, quos et dolorem quia, laborum ratione, laboriosam maxime quae aliquid quod? Placeat, dolores odit excepturi eum quis laboriosam?