html 
    head 
        title Aryan Website 
        block styles 
        block scripts
    body 
        nav
            div#logo LOGO
            ul 
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="#") Projects]
                li #[a(href="#") Reviews]
                li #[a(href="/contact") Contact]

        block contents
        div#footer Copyright © AryanThakur.com | All Rights Reserved