extends base.pug

block styles
    style
        include ../static/styleHome.css

block scripts 
    script(src="/static/script.js") 

block contents
    div#container
        h1 Lorem ipsum dolor sit.
        h2 Lorem, ipsum dolor.
        button#gstart Get Started
    div#members
        div #[span.cust Our Customers] 
        div#happy
            div.happyCtms #[span Happy customers] 10+
            div.happyCtms #[span Satisfied customers] 20+
            div.happyCtms #[span Clients] 1195+