html 
    head 
        title This is the first form created 
        block styles 
        block scripts 
    body
        nav
        block contents 
        div#footer c Forms.com | All rights reserved