html
    title Aryan webpage
    block styles
    block scripts

    body
        div#navbar
            div
                ul
                    li #[a(href="/") Home]
                    li #[a(href="/") About Us]
                    li #[a(href="/contact") Contact Us]
        block contents
        block footer
        div#footer Copright © 2021 AryanThakur.com | All rights reserved