extends base.pug

block styles 
    style 
        include ../static/Homestyle.css

block scripts 
    script(src="/static/Homestyle") 

block contents 
    div#sectionHeader
        h2 Lorem ipsum dolor sit amet, consectetur 
        h2 Lorem ipsum, dolor sit amet
        div #[a(href="#") Get Started]
    div#about
        h1 About Us 
        div Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus libero suscipit iusto veniam, deserunt omnis, nesciunt quibusdam voluptatum itaque dolore illum nostrum blanditiis, enim vitae debitis modi totam sapiente. Ab exercitationem quod, accusantium adipisci obcaecati iste doloribus doloremque odio hic, consequuntur reiciendis ea. Obcaecati, eligendi fugiat! Voluptatibus quidem officia amet hic quia labore quo, veritatis recusandae eos. Aliquam perspiciatis non minus ad cum illo sequi. Sint amet exercitationem sequi impedit eum aspernatur quam facere nisi iusto velit deserunt voluptates voluptatem dolorem, beatae mollitia enim voluptatum facilis incidunt dolorum expedita corrupti
        ul 
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi perspiciatis repellendus iusto optio amet iure!
            li Lorem ipsum dolor sit amet consectetur adipisicing elit.
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam quo rem.
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum?
            li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas omnis quaerat quas tempore.
            li Lorem ipsum dolor sit amet.
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus est iste quidem! Commodi, vel nulla! Delectus eius assumenda nam!
            li Lorem ipsum dolor sit amet consectetur.
    div#bg
    div#cards
        div#c1.cd
            h1 Service 1
            div Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim aspernatur perferendis id omnis odio doloribus molestias beatae voluptatibus at sapiente?
        div#c2.cd
            h1 Service 2
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nesciunt dolores odit qui vero, magnam a quis, deleniti excepturi provident incidunt minus, ad quaerat debitis!
        div#c3.cd
            h1 Service 3
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nesciunt dolores odit qui vero, magnam a quis, deleniti excepturi provident incidunt minus, ad quaerat debitis!