doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Aryan store
        block scripts
        style
            include ../static/styleSheets/base.css
        block styles 

    body
        nav#navbar
            ul 
                li #[a(href="/api/v1/products") Home]
            img(src="/static/images/logo.png" alt="#")
        div.bgColor 
        div.bgColor
        div.bgColor
        div.bgColor
        div.bgGlass
        block content 
        block footer 