doctype html
html
    head
        title Aryan Car Industry 
        block styles
        block scripts
    body
        div#container
            nav#navbar 
                div#logo
                    img(src="#", alt="!!!")
                ul
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Menu 3]
                    li #[a(href="/") Menu 4]
                    li #[a(href="/contact") Contact]
            div#contents as long as the navbar is in golden region you can see it is sticky 
        block content
        block#footer 
            | Copyright © 2021 AryanCarIndustry.com | All rights reserved 