extends base.pug


block styles 
    style 
        include ../static/styleHome.css
block scripts 
    script(src="/static/script.js") 

block content
    div#sectionHead
        h1 Ride the future with cross 
        a(href="#")  Purchase Now
    
    div#cards
        div#c1.cd
            h1 Service 1
            div Lorem ipsum dolor sit ame  Lorem, ipsum.t consectetur adipisicing Lorem ipsum dolor sit amet. elit. Eligendi, nisi. Lorem ipsum dolor sit amet.
        div#c3.cd
            h1 Service 2
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum dolorem sequi nulla amet consequuntur temporibus?
        div#c4.cd
            h1 Service 3
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut earum dolorem sequi nulla amet consequuntur temporibus?
    div#carrier
        div#cont3
        div#aboutUs
                h1 About Us
                div Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam assumenda quo laboriosam beatae iusto iure, aperiam sint voluptatem a! Beatae aspernatur obcaecati delectus quae saepe est rem neque, veniam distinctio eligendi laboriosam veritatis, nostrum molestiae reprehenderit exercitationem ducimus unde quas, earum laudantium nesciunt consectetur. Placeat molestiae aut dolorem eum enim?
        div#customer
                    h1 Heading 
                    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, qui similique minus quam perspiciatis rerum delectus voluptatem neque numquam magni, unde corporis veniam accusantium pariatur aut laborum quod amet ab autem sunt in culpa earum assumenda fuga. Sunt, tempore beatae. Perspiciatis maxime saepe eveniet natus amet aliquid earum ipsam, aliquam maiores quidem, in placeat qui neque ratione cupiditate architecto ex libero consequuntur. Consequatur aspernatur eveniet natus officia, temporibus numquam neque, animi esse possimus aperiam reprehenderit, id debitis molestias quae corrupti nobis ipsa dicta rem minus mollitia. Quam delectus temporibus ea commodi laudantium odit inventore, maxime labore, nobis nostrum non dolor aperiam sint magnam eos nemo autem quaerat mollitia quasi eligendi ut aut a obcaecati. Possimus quasi aspernatur neque id sequi amet, iusto blanditiis, autem error dolore dolores assumenda itaque perferendis molestiae soluta voluptatem illo necessitatibus magnam? Iure fugiat illo error vel consectetur vitae neque. Fugit ipsa assumenda expedita mollitia doloribus, voluptate eum dolore itaque? Architecto iusto beatae perferendis aut pariatur explicabo hic eligendi! Consequuntur unde officiis dolore molestias cupiditate, alias molestiae odio, aliquid nostrum repellat assumenda nisi incidunt. Pariatur obcaecati veniam architecto blanditiis reiciendis voluptatem quae illum quis sed recusandae beatae molestiae asperiores, temporibus consectetur alias impedit a, quia odio?