html 
    head 
        title AryanSite
        block styles 
        block scripts 
    body 
        div#navContainer
            div#nav
                div#logo LOGO
                ul 
                    li #[a(href='/') Home]
                    li #[a(href='/') About]
                    li #[a(href='/') Contact]
                    li #[a(href='/') Blog]
                    li #[a(href='/') My works]
                    li #[a(href='/') Reviews]
                div#connect
                    span Facebook
                    span instagram
                    span linkedin
                    span twitter 


        block contents
        div#footer  Ⓒ ANU.com | All rights reserved